.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0096A0;
    font-family: Arial, sans-serif;
  }
  
  .nav-list li {
    float: left;
  }
  
  .nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-list li a:hover {
    background-color: #006C78;
  }
  
  .user-link {
    position: absolute;
    right: 20px;
  }